name: Auto-Update Toolbox Version
'on':
  schedule:
    - cron: 0 6 * * *
  workflow_dispatch: null
jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get latest release version of genai-toolbox
        id: get_release
        uses: pozetroninc/github-action-get-latest-release@v0.8.0
        with:
          repository: googleapis/genai-toolbox
          excludes: 'prerelease, draft'
      - name: Check for new version
        id: check_version
        run: >
          LATEST_VERSION="${{ steps.get_release.outputs.release }}"

          # We check the version in a single file to see if an update is needed

          CURRENT_VERSION=$(grep "_TOOLBOX_VERSION:"
          packages/toolbox-core/integration.cloudbuild.yaml | awk '{print $NF}'
          | tr -d "'")

          echo "Latest version is $LATEST_VERSION"

          echo "Current version is $CURRENT_VERSION"


          if [ "$LATEST_VERSION" != "$CURRENT_VERSION" ]; then
            echo "::set-output name=has_update::true"
            echo "::set-output name=new_version::$LATEST_VERSION"
          fi
      - name: Update version in files
        if: steps.check_version.outputs.has_update == 'true'
        run: >
          NEW_VERSION=${{ steps.check_version.outputs.new_version }}


          # Update toolbox-core

          sed -i "s/_TOOLBOX_VERSION: '.*/_TOOLBOX_VERSION: '$NEW_VERSION'/"
          packages/toolbox-core/integration.cloudbuild.yaml


          # Update toolbox-langchain

          sed -i "s/_TOOLBOX_VERSION: '.*/_TOOLBOX_VERSION: '$NEW_VERSION'/"
          packages/toolbox-langchain/integration.cloudbuild.yaml


          # Update toolbox-llamaindex

          sed -i "s/_TOOLBOX_VERSION: '.*/_TOOLBOX_VERSION: '$NEW_VERSION'/"
          packages/toolbox-llamaindex/integration.cloudbuild.yaml
      - name: Create Pull Request
        if: steps.check_version.outputs.has_update == 'true'
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: >
            chore(deps): update genai-toolbox version to ${{
            steps.check_version.outputs.new_version }}
          title: 'chore(deps): update genai-toolbox version'
          body: >
            This PR was automatically generated to update the _TOOLBOX_VERSION
            to ${{ steps.check_version.outputs.new_version }}.
          branch: auto-update/genai-toolbox-version
