name: Auto-Update Python Toolbox Version

on:
  repository_dispatch:
    types: [genai-toolbox-update]

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Update version in files
        run: |
          NEW_VERSION=${{ github.event.client_payload.new_version }}
          # Remove the 'v' prefix from the version tag
          NEW_VERSION_CLEAN=$(echo "$NEW_VERSION" | sed 's/^v//')
          
          # Update toolbox-core
          sed -i "s/_TOOLBOX_VERSION: '.*/_TOOLBOX_VERSION: '$NEW_VERSION_CLEAN'/" packages/toolbox-core/integration.cloudbuild.yaml
          
          # Update toolbox-langchain
          sed -i "s/_TOOLBOX_VERSION: '.*/_TOOLBOX_VERSION: '$NEW_VERSION_CLEAN'/" packages/toolbox-langchain/integration.cloudbuild.yaml
          
          # Update toolbox-llamaindex
          sed -i "s/_TOOLBOX_VERSION: '.*/_TOOLBOX_VERSION: '$NEW_VERSION_CLEAN'/" packages/toolbox-llamaindex/integration.cloudbuild.yaml
          
      - name: 'Create Pull Request'
        uses: 'peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e' # v7
        with:
          commit-message: 'chore(deps): update genai-toolbox version to ${{ github.event.client_payload.new_version }}'
          title: 'chore(deps): update genai-toolbox version to ${{ github.event.client_payload.new_version }}'
          body: 'This PR was automatically generated to update the _TOOLBOX_VERSION to ${{ github.event.client_payload.new_version }}.'
          branch: 'auto-update/genai-toolbox-version'
